data/*.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
data/waiting_times.csv filter=lfs diff=lfs merge=lfs -text
data/stations.csv filter=lfs diff=lfs merge=lfs -text
data/stop_ids_in_radius.csv filter=lfs diff=lfs merge=lfs -text
data/timetable1.csv filter=lfs diff=lfs merge=lfs -text
data/timetable.csv filter=lfs diff=lfs merge=lfs -text
data/timetable.csv/part-00000-ab816ead-6304-4581-986b-5a9cc5c5ffcf-c000.csv filter=lfs diff=lfs merge=lfs -text
data/timetable.csv/_SUCCESS filter=lfs diff=lfs merge=lfs -text
data/arrivalsRouteStops.csv/part-00000-a4d59d0e-7eff-4d36-8d12-76eac29450c5-c000.csv filter=lfs diff=lfs merge=lfs -text
data/arrivalsRouteStops.csv/_SUCCESS filter=lfs diff=lfs merge=lfs -text
data/departuresRouteStops.csv/_SUCCESS filter=lfs diff=lfs merge=lfs -text
data/terminusRouteStops.csv/part-00000-0a06f1ea-39c3-41a6-916f-1336a2a68a97-c000.csv filter=lfs diff=lfs merge=lfs -text
data/terminusRouteStops.csv/_SUCCESS filter=lfs diff=lfs merge=lfs -text
data/departuresRouteStops.csv/part-00000-04ba97c6-496a-42e2-9940-9c9f979690cc-c000.csv filter=lfs diff=lfs merge=lfs -text
data/delay_distrib.csv/part-00000-bea78a04-8f62-4390-a568-30592c24a5ec-c000.csv filter=lfs diff=lfs merge=lfs -text
data/delay_distrib.csv/_SUCCESS filter=lfs diff=lfs merge=lfs -text
data/delay_distrib.csv filter=lfs diff=lfs merge=lfs -text
data/departuresRouteStops filter=lfs diff=lfs merge=lfs -text
data/route_names.csv filter=lfs diff=lfs merge=lfs -text
data/terminusRouteStops filter=lfs diff=lfs merge=lfs -text
data/arrivals_ext.csv filter=lfs diff=lfs merge=lfs -text
data/arrivalsRouteStops.csv filter=lfs diff=lfs merge=lfs -text
data/departuresRouteStops.csv filter=lfs diff=lfs merge=lfs -text
data/route_names_types.csv filter=lfs diff=lfs merge=lfs -text
data/terminusRouteStops.csv filter=lfs diff=lfs merge=lfs -text
data/timetable filter=lfs diff=lfs merge=lfs -text
data/arrivalsRouteStops filter=lfs diff=lfs merge=lfs -text
data/delay_distrib filter=lfs diff=lfs merge=lfs -text
data/departures.csv filter=lfs diff=lfs merge=lfs -text
